/* Body */

body{
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
}

/* Section */

.image-section{
  height: 100%;
  position: absolute;
  z-index: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(https://wallpaperaccess.com/full/1398312.jpg);
}

/* Container */

.container-fluid{
  text-align: left;
  padding: 0;
}

/* Navbar */

.navbar{
  background-color: black;
  /* color: #FFF; */
  display: block;
  float: left;
  font-size: 1.5rem;
  font-weight: bold;
  height: 50px;
  margin: 0;
  padding: 0 5%;
  position: relative;
  text-align: left;
  width: 100%;
  z-index: 2;
}

.nav-item{
  color: #FFF;
  margin: 0 70px;

}

.nav-link:hover{
  color: red;
  cursor: pointer;
}

/* Title-Images */

.title-images{
  width: 100%;
  padding: 3% 5%;
  position: relative;
  z-index: 1;
  margin-top: 4px;
  margin-left: 5px;
}

.organizations-image{
  padding: 2% 6%;
  text-align: center;
  width: 33%;
}
